header a {
    color: rgb(1, 9, 0);
    padding: 10px;
    text-decoration: none;
}
.content{
    margin-top: 20px;
    margin-left: 140px;
    display: flex;
    gap: 10px;
    position: relative;
    right: 110px;
}
header{
    color: black;
    display: flex;
    justify-content: space-between;
}
.log-buttons{
    height: 10px;
    position: relative;
    right: 190px;
    top: 30px;
}
.second{
    display:flex;
    justify-content: space-evenly;
    
}
.product{
    border: 1px solid gray;
    width: 380px;
    border-radius: 8px;
}
.KING{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.price{
    text-align: center;
}
.button button{
    color: aliceblue;
    background-color: black;
    margin-bottom: 7px;
    border-radius: 5px;
}
.button{
    display: flex;
    justify-content: space-around;
}
.mani{
    width:50px
    height:50px
}
.para{
    text-align: center;
}
.price{
    font-size: 20px;
}
.normal{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-evenly;
    row-gap:50px;
    column-gap: 10px;
}
.imgpara{
    position: relative;
    top: -350px;
    margin-left: 60px;
    color: aliceblue;
}
.imges{
    display: flex;
    justify-content: space-around;
}
.nani{
    border: 1px solid gray;
    border-radius: 5px;
}
.akka{
    margin-left:590px ;
    margin-top: 50PX;
}
.thammudu button{
    margin-left:640px ;
    background-color: black;
    color: aliceblue;
    border-radius: 3px ;
}

.item{
    display: flex;
}
.-cart{
    border:1px solid gray;
    border-radius: 5PX;
    width: 693px;
    margin-left: 30px;
}
.cartprize{
margin-top: 40px;
margin-left: -40px;
padding: 10px;
}
.prize{
     display: flex;
     justify-content: space-evenly;
     margin-left: 60px;
}
.align{
    margin-top: 50px;
}
/* .heart{
    color: red;
} */
.checkbox{
  border: 1px solid rgb(157, 156, 156);
  width: 200px;
}
.prizesofcheckbox{
    position: relative;
    margin-left: 150px;
    top: -143px;
    height: 20px;

}
.checkout{
    margin-left: 49px;
    color: aliceblue;
    background-color: black;
    border: px solid;
}
.checkbox{
    position: relative;
    bottom: 770px ;
    margin-left: 950px;
    width: 230px; ;
}
.mani{
    width:100%;
    height:350px;
}
.cartitem{
    height: 120px;
    width: 120px;
}
.input{
    width: 320px;
}
#Cart{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 40px;
}

.cart-container{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 40px;
}

.cartpage-itemlist{
    border: 1px solid;
    border-radius: 5px;
    margin-left: 90px;
    width: 850px;
}

.cartpage-ordersummary{
    border: 1px solid;
    border-radius: 5px;
    width: 400px;
    margin-left: 100px;

}

#cartpage-itemlist-div1{
    background-color: grey;
    color:black;
    margin-top: 0;
}

.cartpage-img{
    width: 150px;
    height: 120px;
}

.cartpage-container2{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cartpage-imgdiv{
    margin-left: 20px;
}

.cartpage-textdiv{
    margin-top: 20px;
    margin-left: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.cartpage-totaldiv{
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.cartpage-itemlist-butn1{
    margin-right: 40px;
    background-color: white;
    border: 0px none;
    font-size: 40px;
}

.cartpage-itemlist-butn2{
    margin-left: 40px;
    background-color: white;
    border: 0px none;
    font-size: 30px;
}

#cartpage-itemlist-h3{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.cartpage-ordersummary{
    position: absolute;
    margin-left: 1020px;
}

#cartpage-sumry-h3{
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.ordersummary-container{
    display: flex;
}

.ordersummary-container2{
    margin-left: 20px;
    margin-top: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}

.ordersummary-container3{
    margin-left: 200px;
    margin-top: 20px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

#checkout-button{
    background-color: black;
    color: white;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#ecommerce{
    margin-top: 20px;
}
.add-to-cart{
    background-color: black;
    color: aliceblue;
    border-radius: 5px;

}
.buy-now{
    background-color: black;
    color: aliceblue;
    border-radius: 5px;

}
.over:hover{
    color: aliceblue;
  background-color: black;
}
@media(max-width:426px){
    header a {
        color: rgb(1, 9, 0);
        padding: 10px;
        text-decoration: none;
    }
    .content{
        margin-top: 20px;
        margin-left: 140px;
        display: flex;
        gap: 10px;
        position: relative;
        right: 110px;
    }
    header{
        color: black;
        display: flex;
        justify-content: space-between;
    }
    .log-buttons{
        height: 10px;
        position: relative;
        right: 190px;
        top: 30px;
    }
    .second{
        display:flex;
        justify-content: space-evenly;
        
    }
    .product{
        border: 1px solid gray;
        width: 380px;
        border-radius: 8px;
    }
    .KING{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .price{
        text-align: center;
    }
    .button button{
        color: aliceblue;
        background-color: black;
        margin-bottom: 7px;
        border-radius: 5px;
    }
    .button{
        display: flex;
        justify-content: space-around;
    }
    .mani{
        width:50px
        height:50px
    }
    .para{
        text-align: center;
    }
    .price{
        font-size: 20px;
    }
    .normal{
        display: flex;
        flex-wrap: wrap;    
        justify-content: space-evenly;
        row-gap:50px;
        column-gap: 10px;
    }
    .imgpara{
        position: relative;
        top: -350px;
        margin-left: 60px;
        color: aliceblue;
    }
    .imges{
        display: flex;
        justify-content: space-around;
    }
    .nani{
        border: 1px solid gray;
        border-radius: 5px;
    }
    .akka{
        margin-left:590px ;
        margin-top: 50PX;
    }
    .thammudu button{
        margin-left:640px ;
        background-color: black;
        color: aliceblue;
        border-radius: 3px ;
    }
    
    .item{
        display: flex;
    }
    .-cart{
        border:1px solid gray;
        border-radius: 5PX;
        width: 693px;
        margin-left: 30px;
    }
    .cartprize{
    margin-top: 40px;
    margin-left: -40px;
    padding: 10px;
    }
    .prize{
         display: flex;
         justify-content: space-evenly;
         margin-left: 60px;
    }
    .align{
        margin-top: 50px;
    }
    .heart{
        color: red;
    }
    .checkbox{
      border: 1px solid rgb(157, 156, 156);
      width: 200px;
    }
    .prizesofcheckbox{
        position: relative;
        margin-left: 150px;
        top: -143px;
        height: 20px;
    
    }
    .checkout{
        margin-left: 49px;
        color: aliceblue;
        background-color: black;
        border: px solid;
    }
    .checkbox{
        position: relative;
        bottom: 770px ;
        margin-left: 950px;
        width: 230px; ;
    }
    .mani{
        width:100%;
        height:350px;
    }
    .cartitem{
        height: 120px;
        width: 120px;
    }
    .input{
        width: 320px;
    }
    #Cart{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        margin-top: 40px;
    }
    
    .cart-container{
        display: grid;
        grid-template-columns: 60% 40%;
        margin-top: 40px;
    }
    
    .cartpage-itemlist{
        border: 1px solid;
        border-radius: 5px;
        margin-left: 90px;
        width: 850px;
    }
    
    .cartpage-ordersummary{
        border: 1px solid;
        border-radius: 5px;
        width: 400px;
        margin-left: 100px;
    
    }
    
    #cartpage-itemlist-div1{
        background-color: grey;
        color:black;
        margin-top: 0;
    }
    
    .cartpage-img{
        width: 150px;
        height: 120px;
    }
    
    .cartpage-container2{
        display: grid;
        grid-template-columns: 20% 50% 30%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .cartpage-imgdiv{
        margin-left: 20px;
    }
    
    .cartpage-textdiv{
        margin-top: 20px;
        margin-left: 60px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        font-weight: bold;
    }
    
    .cartpage-totaldiv{
        margin-left: 40px;
        margin-top: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: large;
    }
    
    .cartpage-itemlist-butn1{
        margin-right: 40px;
        background-color: white;
        border: 0px none;
        font-size: 40px;
    }
    
    .cartpage-itemlist-butn2{
        margin-left: 40px;
        background-color: white;
        border: 0px none;
        font-size: 30px;
    }
    
    #cartpage-itemlist-h3{
        margin-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
    
    .cartpage-ordersummary{
        position: absolute;
        margin-left: 1020px;
    }
    
    #cartpage-sumry-h3{
        margin-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
    
    .ordersummary-container{
        display: flex;
    }
    
    .ordersummary-container2{
        margin-left: 20px;
        margin-top: 20px;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    
    .ordersummary-container3{
        margin-left: 200px;
        margin-top: 20px;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #checkout-button{
        background-color: black;
        color: white;
        border-radius: 5px;
        width: 350px;
        height: 40px;
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    #ecommerce{
        margin-top: 20px;
    }
    .add-to-cart{
        background-color: black;
        color: aliceblue;
        border-radius: 5px;
    
    }
    .buy-now{
        background-color: black;
        color: aliceblue;
        border-radius: 5px;
    
    }
    .over:hover{
        color: aliceblue;
      background-color: black;
    }
}